*{
	margin:0;
	padding:0;
}

#container{
	background-image: url(../images/bgimage.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top left;
	background-size: cover;
	height:100%;
	background-color:transparent;

}

html, body{
	height:100%;
}

#jumbotron{
	padding: 50px 0;
	background: black;
	color: #a66530;
	font-variant: small-caps;
	margin-left: auto;
    margin-right: auto; 
    width: 400px;
    text-align: center;
}

#jumbotron h1{
	margin-bottom: 35px;
	font-family: 'Lusitana', serif;
}

#jumbotron p{
	color: #fff;
}

a:link {
	color: #fff;
	text-decoration:none;
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#inner {
    display: table-cell;
    vertical-align: middle;
}
